<!DOCTYPE html>
<html>
<body>
<h1>青岛新闻网小型车违章查询系统</h1>

<form action="http://127.0.0.1:8080/wzAPI" method="get">
  车牌号首字母&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="stateid">[格式：B]<br>
  车牌号数字&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input type="text" name="plateNo">[格式：12345]<br>
  车辆识别代码后四位: <input type="text" name="license">[车辆识别代码请查看机动车行驶证]<br>
  <input type="submit" value="提交查询">
</form>


</body>
</html>

